<%= simple_form_for setup_producer_lot(@producer_lot) do |f| %>
    <%= f.error_messages %>
    <%= f.association :producer %>
    <%= f.input :received_date, :input_html => { :class => 'date_picker' } %>
    <%= f.input :advance_payment %>
    <%= f.input :comments %>
    <%= f.simple_fields_for :producer_lot_details do |f_pld| %>
    <hr />
        <%= f_pld.association :product, :as => :hidden %>
        <%= f_pld.label f_pld.object.product.description %>
        <%= f_pld.input :quantity, :label => "Total Quantity",:input_html => {:class => "quantity"} %>
        <%= f_pld.simple_fields_for :producer_lot_qualities do |f_pld_plq| %>
        	<%= f_pld_plq.association :product_quality, :as => :hidden %>
        	<%= f_pld_plq.input :quantity, :label => f_pld_plq.object.product_quality.quality_code, :input_html => {:class => "quantity"} %>
    	<% end %>    
    <% end %>
    <%= f.button :submit %>
<% end %>
<div id="datepicker"></div>
