<tr>
	<% simple_form_for @producer_lot |p_l| %>
    <td><%= p_l.association :producer %></td>
    <td><%= p_l.input :received_date, :as => :string, :as => :hidden %>
    <input type="text" class="date-pick" readonly="readonly"></input></td>
    <td><%= p_l.input :comments %></td>
    <% producer_lot_details_collated(p_l).each do |p_l_d| %>
        <td><%= p_l_d.input :quantity %></td>
    <% end %>
    <td><%= calculate_ideal_advance_payment(p_l) %></td>
    <td><%= link_to 'Save', create_producer_lot_path(p_l) %></td>
    <td><%= link_to 'Cancel'></td>
</tr>