<h1>Listing producer_lots</h1>

<table>
  <tr>
    <th>Producer</th>
    <th>Received date</th>
    <th>Comments</th>
    <% Product.all.each do |product| %>
        <th><%= product.code %></th>
    <% end %>
    <th>Ideal advance</th>
    <th></th>
    <th></th>
  </tr>

<% @producer_lots.sort_by(&:received_date).reverse.each do |producer_lot| %>
  <tr>
    <td><%= producer_lot.producer.name %></td>
    <td><%= producer_lot.received_date.to_s(:long) %></td>
    <td><%= producer_lot.comments %></td>
    <% producer_lot_details_collated(producer_lot).each do |p_l_d| %>
        <td><%= p_l_d.quantity %></td>
    <% end %>
    <td><%= calculate_ideal_advance_payment(producer_lot) %></td>
    <td><%= link_to 'Edit', edit_producer_lot_path(producer_lot) %></td>
    <td><%= link_to 'Destroy', producer_lot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Producer lot', new_producer_lot_path %>
