<%= form_for(@producer_lot_quality) do |f| %>
  <% if @producer_lot_quality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producer_lot_quality.errors.count, "error") %> prohibited this producer_lot_quality from being saved:</h2>

      <ul>
      <% @producer_lot_quality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producer_lot_detail_id %><br />
    <%= f.text_field :producer_lot_detail_id %>
  </div>
  <div class="field">
    <%= f.label :product_quality_id %><br />
    <%= f.text_field :product_quality_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
