<!DOCTYPE html>
<html>
<head>
  <title>Tpmc2007</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" media="screen"> 
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
	<body>
    	<div class="container">
      		<%= render 'layouts/header' %>
  		<section class="round">
        	<%= yield %>
      	</section>
      		<%= render 'layouts/footer' %>
    	</div>
	</body>
</html>
